<div class="modal fade" id="myModalAlertSuccess" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-success">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">
                    <label id="textTitleSuccess"></label>
                </h4>
            </div>
            <div class="modal-body text-center">
                <div class="container">
                    <label id="textSuccess"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="onCloseModalAlertSuccess()" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="myModalAlertAdvertencia" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-success">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">
                    <label id="textTitleAdvertencia"></label>
                </h4>
            </div>
            <div class="modal-body text-center">
                <div class="container">
                    <label id="textAdvertencia"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="onCloseModalAlertAdvertencia()" type="button" class="btn btn-default">Cancelar</button>
                <button onclick="Delete()" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>

    </div>
</div>
